body {
  font-family: "Kumbh Sans", sans-serif;
  color: $color-gray;
  letter-spacing: 0.2px;
  font-weight: 400;
  line-height: 160%;
}

.tg-small-color {
  text-transform: uppercase;
  color: $color-orange;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
}

.tg-large {
  font-size: 45px;
  line-height: 120%;
  color: $color-black;
  @media (max-width: $breakpoint-1) {
    font-size: 30px;
  }
}
