$color-orange: hsl(26, 100%, 55%);
$color-orange-pale: hsl(25, 100%, 94%);
$color-blue-dark: hsl(220, 13%, 13%);
$color-blue-dark-grayish: hsl(219, 9%, 45%);
$color-blue-grayish: hsl(220, 14%, 75%);
$color-blue-light-grayish: hsl(223, 64%, 98%);
$color-white: hsl(0, 0%, 100%);
$color-gray: hsl(63, 2%, 49%);
$color-black: hsl(0, 0%, 0%);

$gap-images: 25px;

$border-radius: 10px;

$breakpoint-1: 960px;
$breakpoint-2: 560px;
